@import './theme.scss';

.header_container {
  background-color: $header-bg-color;
  width: 100%;
  height: 72px;

  .header-info {
    font-size: $font-size-md;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 66.66vw;
    height: inherit;
    box-sizing: border-box;
  }


  .nav_menu_container {
    display: flex;
    
    ul {
      display: flex;
      justify-content: center;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 $spacingNormal;
        line-height: normal;
        height: 32px;

        .log-movie-button {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: $font-size-md;
          border-radius: $spacingSmall;
          min-width: 75px;
          background-color: #3CCF4E;
          height: inherit;
          cursor: pointer;
        }
      }
  
      li:first-child {
        margin-left: 0;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}
