@import './theme.scss';

.trending_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .slider_container {
    position: relative;
    width: 600px;

    .arrow {
      position: absolute;
      margin: auto;
      bottom: 0;
      top: 0;
      width: 35px;
      height: 35px;
      border: 1px solid $accent;
      border-radius: 20px;
    }

    .arrow:hover {
      background-color: $accent;
    }

    .next_arrow {
      left: 100%;
    }

    .prev_arrow {
      right: 102%;
    }
  }
}