@import './css/reset.scss';
@import './css/theme.scss';

:root {
  font-size: 14px;
  background-color: $root-bg-color;
  color: white;
}

.home-container {
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 66.6666vw;
}